.calendar-container-whole{
    display: inline-block;
    width: 45vw;
    height: 85vh;
    border: 840px 840px rgb(0, 0, 0);
    border-top:solid 4px black;
    border-right:solid 4px black;
}

.month-container{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 15.3%;
    width: 99.5%;
    color: rgb(0, 0, 0);
    border-bottom: solid 4px black;
    border-left:solid 4px black;
    background-color: rgb(177, 177, 177);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    vertical-align: middle;
    font-size: 5vw;
}

.arrow {
    display: inline-block;
    border: solid rgb(0, 0, 0);
    border-width: 0 7px 7px 0;
    padding: 10px;
  }
.right-arrow-container{
    margin: auto;
}
.right {
    margin-bottom: 10%;
    margin-left: 0px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left-arrow-container{
    margin: auto;    
}
.left {
    margin-bottom: 10%;
    margin-right: 0px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow:active {
    border: solid white;
    border-width: 0 7px 7px 0;
    padding: 10px;
}

.day-of-the-week{
    display: grid;
    grid-template-columns: 14.28%  14.28%  14.28%  14.28%  14.28%  14.28%  14.28%;
    height: 5.6%;
    width: 99.5%;
    background-color: rgb(182, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.7em;
    border-bottom: solid 4px rgb(0, 0, 0);
    border-left:solid 4px black;
    text-align: center;
    padding-top: 1%;
}

.date-container{
    display: grid;
    grid-template-columns: 14.28%  14.28%  14.28%  14.28%  14.28%  14.28%  14.28%;
    height: 77.1%;
    width: 100%;
}

.date{
    background-color:wheat;
    border-left:solid 4px black;
    border-bottom:solid 4px black;
    padding-top: 2.8%;
    padding-left: 2%;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.event-container{
    padding-top: 10%;
    padding-left: 5%;
    height: 50%;
    width: 90%;
}
.user-event{
    display: block;
    border: 2px solid black;
    height: 30%;
    width: 100%;
    resize: none;
    overflow: auto;
}
.user-time{
    display: block;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 30%;
    width: 100%;
    resize: none;
    overflow: auto;
}
.user-confirmation{
    margin-top: 2px;
    display: inline;
    width: 55%;
    height: 20%;
}
.event{
    padding-top: 6px;
    padding-right: 3px;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    height: auto;
    width: 100px;
}
.time{
    color:rgb(214, 51, 51);
    margin-bottom: 6px;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    height: 50px;
    width: 100px;
}
.date:hover{
    background-color: rgb(81, 189, 240);
}

/* https://www.youtube.com/watch?v=TdqQqyc7pfU */
 