/* Calendar Style */
.calendar-container-whole{
    display: inline-block;
    width: 45vw;
    height: 85vh;
    border: 840px 840px rgb(0, 0, 0);
    border-top:solid 4px black;
    border-right:solid 4px black;
}

.month-container{
    position: inherit;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 15.3%;
    color: rgb(0, 0, 0);
    border-bottom: solid 4px black;
    border-left:solid 4px black;
    background-color: rgb(177, 177, 177);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    vertical-align: middle;
    font-size: 5vw;
}

.arrow {
    display: inline-block;
    border: solid rgb(0, 0, 0);
    border-width: 0 7px 7px 0;
    padding: 10px;
  }
.right-arrow-container{
    margin: auto;
}
.right {
    margin-bottom: 10%;
    margin-left: 0px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left-arrow-container{
    margin: auto;    
}
.left {
    margin-bottom: 10%;
    margin-right: 0px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.calendar-container-inside{
    height: 84.2%
}
.arrow:active {
    border: solid white;
    border-width: 0 7px 7px 0;
    padding: 10px;
}

.day-of-the-week{
    display: grid;
    grid-template-columns: 14.28%  14.28%  14.28%  14.28%  14.28%  14.28%  14.28%;
    height: 5.6%;
    background-color: rgb(182, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5vw;
    border-bottom: solid 4px rgb(0, 0, 0);
    border-left:solid 4px black;
    text-align: center;
    padding-top: 1%;
}

.date-container{
    display: grid;
    grid-template-columns: 14.28%  14.28%  14.28%  14.28%  14.28%  14.28%  14.28%;
    height: 92.6%;
}

.date{
    position:relative;
    background-color:wheat;
    border-left:solid 4px black;
    border-bottom:solid 4px black;
    padding-top: 2.8%;
    padding-left: 2%;
    font-family:'Times New Roman', Times, serif;
    font-size: 1vw;
}

.event-container{
    position: absolute;
    padding-top: 10%;
    padding-left: 5%;
    height: 50%;
    width: 90%;
}
.user-event{
    position: absolute;
    display: block;
    border: 2px solid black;
    height: 30%;
    width: 90%;
    resize: none;
    overflow: auto;
}
.user-time{
    position: absolute;
    top: 50%;
    display: block;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 30%;
    width: 90%;
    resize: none;
    overflow: auto;
}
.user-confirmation{
    position: absolute;
    top: 83%;
    margin-top: 2px;
    display: inline;
    width: 48%;
    height: 28%;
}
.event{
    position: absolute;
    padding-top: 6px;
    padding-right: 3px;
    font-size: 0.9vw;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    height: 20%;
    width: 100%;
}
.time{
    position: absolute;
    top: 70%;
    color:rgb(214, 51, 51);
    margin-bottom: 6px;
    font-size: 0.9vw;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    height: auto;
    width: 100%;
}
.date:hover{
    background-color: rgb(81, 189, 240);
}

/*Info-center Style*/
.information-center{
    margin-left : 4px;
    position:absolute;
    text-align: center;
    display:inline-block;
    width: 19.43%;
    border: solid 4px rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bolder;
    height: auto;
    max-height: 85vh;
    
}
.information-title{
    background-color: rgb(206, 36, 36);
    width: 100%;
    border-bottom: solid 4px rgb(0, 0, 0);
}
.today-date-container{
    display: block;
    grid-template-rows: 50% 50%;
    border-bottom: solid 4px rgb(0, 0, 0);
    width: 100%;
}
.today-date-header{
    background-color: rgb(71, 157, 255);
    text-align: center;    
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: solid 4px rgb(0, 0, 0);
    height: 30%;
    
}
.today-date{
    background-color: rgb(253, 236, 204);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    height: 30%;
}

.clicked-date-container{
    display: block;
    grid-template-rows: 50% 50%;
    border-bottom: solid 4px rgb(0, 0, 0);
    width: 100%;
}
.clicked-date-header{
    background-color: rgb(71, 157, 255);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: solid 4px rgb(0, 0, 0);
    height: 30%;
}
.clicked-date{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    height: 30%;
}

.time-container{
    display: block;
    grid-template-rows: 50% 50%;
    border-bottom: solid 4px rgb(0, 0, 0);
    width: 100%;
}
.time-header{
    background-color: rgb(71, 157, 255);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: solid 4px rgb(0, 0, 0);
    height: 30%;
}
.time-display{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    height: 30%;
}

.event-container{
    display: block;
    grid-template-rows: 50% 50%;
    width: 100%;
}
.event-header{
    background-color: rgb(71, 157, 255);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    
    height: 25px;
}
.event-adder{
    display: block;
    border-top: solid 4px rgb(0, 0, 0);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    overflow-y: scroll;
    max-height: 458px;
}


/* https://www.youtube.com/watch?v=TdqQqyc7pfU */